################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProgramManager/obj/Debug
/.vs/ProgramManager/v14/.suo