<?xml version="1.0" encoding="utf-8" ?>
<Cofiguration>
  <Plugin Name="SimplePlugin" Type="SimplePlugin" StartPath="SimplePlugin.Class1" Assambly="SimplePlugin\SimplePlugin.dll" Execute="Start">
    <Author>AlexSofar</Author>
    <Version>1.0</Version>
    <Description>PluginExecute to manage icons.</Description>
   </Plugin>
  <Plugin Name="IconEditor" Type="IconEditor" StartPath="IconEditor.Class1" Assambly="IconEditor\IconEditor.dll" Execute="Start">
    <Author>AlexSofar</Author>
    <Version>1.0</Version>
    <Description>PluginExecute to manage icons.</Description>
   </Plugin>
  <Plugin Name="TagEditor" Type="TagEditor" StartPath="TagEditor.TagEditor" Assambly="TagEditor\TagEditor.dll" Execute="Start">
    <Author>AlexSofar</Author>
    <Version>1.0</Version>
    <Description>PluginExecute to manage icons.</Description>
   </Plugin>
</Cofiguration>
